doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/js/signals.js')
    script(src='/js/drag_handler.js')
    script(src='/js/tick_provider.js')
    script(src='/js/image_list.js')
    script(src='/js/pipit.js')
    script
        urls="#{urls}"
        function init(){initPipit(urls.split(',').reverse()) }

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
    script
      $(document).ready(function (){
        urls="#{urls}";
        initPipit(urls.split(',').reverse());
      });


  body
    div#main(style='display: none;')
      h1= title
      div#imageContainer
        image#img
      div
         input(id='slider', type='range', min='1', max='20', value='1')

